@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* Global styling settings */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Element Styling */

body {
    font-family: Montserrat, sans-serif;
    background: rgb(2, 2, 82);
}

header {
    color: rgb(2, 2, 82);
    text-align: center;
    font-size: x-large;
    line-height: 30px;
}

header h1 {
    padding-top: 3%;
    padding-bottom: 2%;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px aqua, -1px -1px 20px aqua, -1px -1px 16px aqua, 1px 0px 11px aqua;
}

a,
a:visited {
    text-decoration: none;
}

/* CODE CREDIT for modal and overlay (lines 39-131) https://www.freecodecamp.org/news/how-to-build-a-modal-with-javascript/ */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    padding-left: 10px;
    padding-right: 10px;
    width: 25vw;
    position: absolute;
    left: 5vw;
    background-color: aqua;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 5;
    color: rgb(2, 2, 82);
}

.flexText {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexText h3 {
    padding-bottom: 2vh;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal p {
    font-size: 0.9rem;
    color: rgb(2, 2, 82);
    margin: 0.4rem 0 0.2rem;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn-open {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    width: 100px;
    background-color: aqua;
    color: rgb(2, 2, 82);
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    position: absolute;
    top: 108px;
    left: 4vw;
    z-index: 2;
}

.btn-close {
    padding-top: 45px;
    border: rgb(2, 2, 82);
    border-width: 2px;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 3;
}

/* Game area styling */

#gameArea {
    margin-bottom: 20px;
    padding-top: 20px;
    background: aqua;
    width: 60vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    text-shadow: 1px 1px blue;
}

h2 {
    font-weight: bold;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

#buttonBox {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-size: 60px;
    color: rgb(2, 2, 82);
    height: 125px;
    width: 125px;
    background-color: chartreuse;
    border: yellowgreen;
    border-style: outset;
    border-width: 10px;
    border-radius: 15px;
    cursor: pointer;
}

button:active {
    border-style: inset;
    border-width: 10px;
}

button:hover {
    text-shadow: 2px 2px aqua;
}

#displayChoices {
    padding-top: 10px;
    height: 20vh;
}

/* Results Area Styling */

#resultsArea {
    background: aqua;
    width: 40vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    text-shadow: 1px 1px blue;
}

#result {
    font-size: larger;
}

#resultBox {
    padding-bottom: 5%;
    font-size: large;
}

#playAgain {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

/* Popup button that appears when the game is finished */

/* CODE CREDIT - Overlay popup (lines 219-246) - https://findnerd.com/list/view/How-to-make-simple-Overlay-popup-/1966/ */

.popup button {
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}

#close {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.popup {
    width: 55%;
    height: 60vh;
    padding-top: 5vh;
    background: #1ca29ee8;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    border-radius: 100px;
}

#winner {
    display: flex;
    text-shadow: 1px 1px 4px aqua, -1px -1px 20px aqua, -1px -1px 16px aqua, 1px 0px 11px aqua;
    border-radius: 25px;
    font-size: xxx-large;
    border-style: inset;
    border-color: rgb(2, 2, 82);
    border-width: 10px;
    font-weight: bolder;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    width: 40vw;
    background-color: chartreuse;
}

/* Counters  */

#winCounter {
    padding-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
}


#remaining,
#result {
    padding-top: 2vh;
}

/* Media Queries */

@media (max-width: 920px) {

    .modal {
        width: 85vw;
        top: 20vh
    }


    header h1 {
        padding-bottom: 0.5%;
    }

    #gameArea {
        position: relative;
        top: -50px;
    }

    #resultsArea {
        position: relative;
        top: -50px;
    }


    .popup {
        width: 85vw;
        z-index: 6;
    }

    .popup,
    btn {
        height: 70vh;
    }

    #winner {
        padding-top: 10px;
        font-size: x-large;
    }

    .btn-open {
        display: inline-block;
        padding: 0.8rem 1.4rem;
        font-weight: 700;
        width: 100px;
        height: 40px;
        background-color: aqua;
        color: rgb(2, 2, 82);
        border-radius: 5px;
        text-align: center;
        font-size: 1em;
        position: relative;
        top: 600px;
        left: 9vw;
    }

}

@media (max-width: 578px) {
    h1 {
        font-size: xx-large;
    }
}

@media (max-width: 500px) {

    #gameArea {
        width: 90vw;
    }

    #resultsArea {
        width: 90vw;
        height: fit-content;
    }

    header {
        font-size: large;
    }

    .btn-open {
        z-index: 5;
    }

    #displayChoices {
        padding-top: 10px;
        font-size: medium;
    }

    button {
        height: 70px;
        width: 70px;
        font-size: 30px;
    }

    .popup button {
        font-size: small;
    }

    #winner {
        margin-top: 15vh;
        padding-top: 10px;
    }
}

@media (max-height: 700px) {

    #gameArea {
        height: fit-content;
    }
}