@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    background: rgb(2, 2, 82);
}

header {
    color: rgb(2, 2, 82);
    text-align: center;
    font-size: x-large;
    line-height: 30px;
}

header h1 {
    padding-top: 3%;
    padding-bottom: 2%;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px aqua, -1px -1px 20px aqua, -1px -1px 16px aqua, 1px 0px 11px aqua;
}


#gameArea {
    margin-bottom: 20px;
    padding-top: 20px;
    background: aqua;
    width: 60vw;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    text-shadow: 1px 1px blue;
}

#resultsArea {
    background: aqua;
    width: 40vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    text-shadow: 1px 1px blue;
}

h2 {
    font-weight: bold;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

#buttonBox {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-size: 60px;
    color: rgb(2, 2, 82);
    height: 125px;
    width: 125px;
    background-color: chartreuse;
    border: yellowgreen;
    border-style: outset;
    border-width: 10px;
    border-radius: 15px;
    cursor: pointer;
}

button:active {
    border-style: inset;
    border-width: 10px;
}

button:hover {
    text-shadow: 2px 2px aqua;
}

#displayChoices {
    padding-top: 10px;
    height: 20vh;
}



#result {
    font-size: larger;
}

#resultBox {
    padding-bottom: 5%;
    font-size: large;
}

#playAgain {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

/* CODE CREDIT - Overlay popup - https://findnerd.com/list/view/How-to-make-simple-Overlay-popup-/1966/ */
.popup button {
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
}

#close {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;

}

.container-popup {
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 0;
}

.popup {
    width: 55%;
    height: 80vh;
    padding-top: 5vh;
    background: #1ca29ee8;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    border-radius: 100px;
}

#winner {
    display: flex;
    text-shadow: 1px 1px 4px aqua, -1px -1px 20px aqua, -1px -1px 16px aqua, 1px 0px 11px aqua;
    border-radius: 25px;
    font-size: xxx-large;
    border-style: inset;
    border-color: rgb(2, 2, 82);
    border-width: 10px;
    font-weight: bolder;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    width: 40vw;
    background-color: chartreuse;
}

#winCounter {
    padding-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
}

#remaining, #result {
    padding-top: 2vh;
}

@media screen and (max-width: 920px) {
    
    .popup {
        width: 85vw;
    }

    #winner {
        padding-top: 10px;
        font-size: x-large;
    }

}

@media screen and (max-width: 500px) {

    header {
        font-size: large;

    }
    
    #displayChoices {
        padding-top: 10px;
        font-size: medium;
    }

    button {
        height: 70px;
        width: 70px;
        font-size: 30px;
    }

    .popup button {
        font-size: small;
    }

    #winner {
        margin-top: 15vh;
        padding-top: 10px;
    }
}